/*--ヘッダー部分--*/

.header {
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.header-inner {
  display: flex;
  text-align: center;
  margin: 0 auto;
  padding: 5px 15px;
  max-width: 1230px;
}

.header-tittle {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 36px;
}

.header-nav {
  color: #000;
  margin-left: auto;
}

.header-nav-list {
  display: flex;
}

.header-nav-item:not(:first-child) {
  margin-left: 40px;
}

.header-nav-item-link {
  display: block;
  height: 80px;
  line-height: 80px;
  text-decoration: none;
  color: #000;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}

.inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: content-box;
}

/*--メイン部分--*/
.container {
  background-color: #F5F5F5;
  height: 650px;
  width: 100%;
  padding: 50px;
}

.by_date{
  text-align: center;
  font-size: 25px;
  padding-bottom: 20px;
}

.register-table {
  padding: 10px 30px;
}


table {
  width: 100%;
  text-align: left;
}

th {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-left: 40px;
  text-align: center;
  height: 50px;
  padding-top: 15px;
}

td {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-left: 40px;
  text-align: center;
  height: 50px;
  padding-top: 15px;
}

 svg.w-5.h-5 {
   /*paginateメソッドの矢印の大きさ調整のために追加*/
   width: 30px;
   height: 30px;
 }

/*--フッター--*/
.footer {
  font-size: 14px;
  text-align: center;
  padding-top: 15px;
}